.main-container {
  background-color: #FFFFFF;

  .header-page {
    margin: 2px;
    .col {
      img {
        margin-left: 98px;
        width: 32px;
        height: 32px;
      }
      font-size: 20px;
      span {
        margin-left: 12px;
      }
    }
  }

  .main-label {
    background: rgb(46,49,146);
    background: linear-gradient(100deg, rgba(46,49,146,1) 0%, rgba(113,213,248,1) 100%);
    width: auto;
    height: 500px;

    .col {
      margin-top: 60px;
      color: #FFFFFF;

      .main-label-content {
        display: flex;
        flex-direction: column;
        max-width: 51%;
        margin: 20px auto auto 22%;

        > h1 {
          font-size: 32px;
          font-weight: bold;

          span {
            color: #6D912B;
          }
        }

        > h3 {
          font-size: 25px;
        }

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

      }

    }
  }


}


