.main-container {
  background-color: #FFFFFF;

  .header-page {
    margin: 2px;
    .col {
      img {
        margin-left: 98px;
        width: 32px;
        height: 32px;
      }
      font-size: 20px;
      span {
        margin-left: 12px;
      }
    }
  }

  .main-label {
    background: rgb(46,49,146);
    background: linear-gradient(100deg, rgba(46,49,146,1) 0%, rgba(113,213,248,1) 100%);
    width: auto;
    height: 500px;

    .col {
      margin-top: 60px;
      color: #FFFFFF;

      .main-label-content {
        display: flex;
        flex-direction: column;
        max-width: 51%;
        margin: 20px auto auto 22%;

        > h1 {
          font-size: 32px;
          font-weight: bold;

          span {
            color: #6D912B;
          }
        }

        > h3 {
          font-size: 25px;
        }

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

      }

    }
  }

  .corona {
    color: #6D912B;
  }

  .main-content {
    display: flex;
    width: 50%;
    margin: 122px auto;

    > h1 {
      font-size: 41px;
      font-weight: bold;
    }

    > h3 {
      font-size: 25px;
      margin-bottom: 30px;
    }
  }

  .main-info {
    padding-top: 50px;
    background-color: #EFF4F8;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      font-size: 41px;
      font-weight: bold;
      margin-bottom: 0;
    }

    > ul {
      list-style-type: none;
      width: 70%;
      display: flex;
      margin-top: 50px;
      margin-bottom: 50px;

      > li {
        width: 400px;
        height: 500px;
        background-color: white;
        padding: 40px 30px;

        &:nth-of-type(2) {
          margin-right: 50px;
          margin-left: 50px;
        }

        img {
          display: block;
          margin: auto;
          height: 200px;
        }

        h3 {
          font-size: 25px;
          font-weight: bold;
          margin: 30px 0 0;
        }

        p {
          margin-top: 10px;
          font-size: 18px;
        }

      }
    }
  }

  .main-download {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

    > div {
      h1 {
        text-align: center;
        font-size: 41px;
        font-weight: bold;
        margin-bottom: 0;
      }

      > div {
        width: 52%;
        margin: 50px auto auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .main-contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EFF4F8;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 41px;
      font-weight: bold;
      margin-bottom: 0;
    }

    button {
      margin-top: 20px;
      background-color: #2E3192;
      font-weight: bold;
      font-size: 24px;
      color: white;
      padding: 20px;
      border-radius: 10px;
    }
  }

}


